html, body {
    margin: 10px;
    background: black;
    color: white;
    font-family: "Andale Mono", monospace;
}

img {
    background: white;
    border-radius: 10px;
}

.candidato {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}


.tudo {
    border: 1rem ridge white;
}

.partedentro {
  margin: 10px;
}



